html {
  background-color: #3d0483;
}

body {
  margin: 0;
  font-family : arcane nine;
}

header {
  width:100%;
  height:12%;
  margin-top: 3%;
  align-content: center;
  text-align: center;
  background-color: #a680e6;
  position:fixed;
}

p {
  align-content:center;
  letter-spacing: 0.1em;
  padding:3%;
  margin-top: 0px;
  margin-bottom: 5%;
  background-color: #a680e6;
  color: #ffffff;
  text-align: center;
}

h1 {
  display:contents;
  font-size:3rem;
  color: #ffffff;
}

h2 {
  font-size: 20px;
  letter-spacing: 0.1em;
  background-color: #a680e6;
  color: #ffffff;
  text-align: center;
}

.bloc-fixe {
  position:fixed;
  text-align: center;
  border:solid 3px white;
  width:15%;
  margin-left:5%;
  top: 30%;
}

.psyduck {
  position:fixed;
  right:10%;
  top:38%;
  width: 10%;
}

img {
  width:100%;
}

button {
  position: relative;
  margin:5%;
  margin-top: 0px;
  text-align:center;
  padding:5px 15px;
  letter-spacing: 0.3em;
  color:#ffffff;
  background-color: hsla(200, 77%, 71%, 0.561);
  border:solid;
  border-color: rgb(141, 199, 254);
  border-radius: 10px;
  cursor: pointer;
}

button:active, button.pushed{
  background-color: rgb(141, 199, 254);
}

.GameContainer {
  width:60vh;
  height:60vh;
  position:absolute;
  left:33.3%;
  top:25%;
  align-content: center;
  display:grid;
}

.GameContainer.small {
  grid-template:repeat(4,1fr)/repeat(4, 1fr);
  gap:2%;
}
  
.GameContainer.big {
  grid-template:repeat(6,1fr)/repeat(6, 1fr);
  gap:1%;
}

.tile {
  position:relative;
  background-color: #a680e6;
  border:solid;
  border-color:#eddefb;
  border-radius:5px;
  cursor:pointer;
  
}

.tile.flip {
  transform: rotateY(180deg);
  transition: all 0.5s ease;
  transform-style: preserve-3d;
}

.front {
  position:absolute;
  height:100%;
  width:100%;
  backface-visibility: hidden;
}

.back {
  position:relative;
  height:100%;
  width:100%;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.image{
  height:100%;
  width:100%;
  border-radius:2px;
}

.win {
  position:fixed;
  align-content: center;
  text-align: center;
  border:solid 3px rgb(255, 255, 255);
  border-radius: 10px;
  right:30%;
  top:45%;
  left:30%;
  background-color: #150235;
  padding-bottom:5px;
  visibility: hidden;
}

.congrats{
  position: relative;
  padding:10px;
  font-size:2rem;
  letter-spacing: 3px;
  color:#ffffff;
}

.win.active {
  transform: rotateZ(360deg);
  transition: all 1s ease;
  transform-style: preserve-3d;
  visibility: visible;
  z-index: 1;
}

.validationContainer {
  position:fixed;
  display: none;
  text-align: center;
  color:#ffffff;
  border-radius: 10px;
  right:40%;
  top:50%;
  left:40%;
  background-color: #150235;
  padding:15px;
}
