html {
  background-color: #3d0483;
}

body {
  margin: 0;
  font-family : arcane nine;
  text-align: center;
}

header {
  height:75px;
  background-color: #a680e6;
  margin:0px auto;
  position: relative;
}
  
button {
  align-content: center;
  margin:20px;
  text-align:center;
  padding:8px 20px;
  font-size: 1.2em;
  letter-spacing: 0.1em;
  color:#ffffff;
  background-color: hsla(200, 77%, 71%, 0.561);
  border-radius: 10px;
  cursor: pointer;
  border:none;
}

button:active {
  background-color: rgba(131, 175, 216, 0.796);
}

h1 {
  font-size: 65px;
  color: #ffffff;
  text-align: center;
}

div#welcome {
  font-size: 43px;
  color: #ffffff;
  text-align: center;
  font-weight: bold;
}

div#regles {
  font-size: 15px;
  color: #ffffff;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}

img {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
  